<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{- partial "head.html" . -}}

<body>
    <div class="container">
        {{- partial "header.html" . -}}
        <div class="post-container">
            {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </div>
    {{- partial "post-body.html" . -}}
</body>

</html>