{{ define "main" }}
<div class="posts">
  <h1>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h1>
  <div class="post-date">
    {{ .Date.Format "Jan 2, 2006" }} &nbsp; {{ range .Params.tags }} {{ $url := printf "tags/%s" (urlize .) }} <a href="{{ $url | relLangURL }}">#{{ . }}</a>&nbsp; {{ end }}
  </div>
  <article>
    {{ .Content }}
  </article>
  {{ partial "related" . }}
</div>
<nav class="pagination-single">
  {{ if .NextInSection }}
  <span class="previous">&larr;
    <a href="{{ .NextInSection.Permalink }}" rel="prev">{{ .NextInSection.Title }}</a>
  </span>
  {{ end }} {{ if .PrevInSection }}
  <span class="next">
    <a href="{{ .PrevInSection.Permalink }}" rel="next">{{ .PrevInSection.Title }}</a> &rarr;</span>
  {{ end }}
</nav>

{{ end }}