:root {
  --info-color: #6bf;
  --warning-color: #fd6;
  --danger-color: #f66;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fefefe;
    --text-color: #000;
    --meta-color: rgb(96, 96, 96);
    --primary-color: rgb(0, 0, 0);
    --accent-color: rgb(43, 43, 43);
    --decoration-color: rgb(235, 235, 235);
    --border-color: rgb(245, 245, 245);
    --accent-filter: none;
    --text-filter: invert(43%) sepia(26%) saturate(269%) hue-rotate(148deg) brightness(91%) contrast(84%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --info-color: #6bf;
    --warning-color: #fd6;
    --danger-color: #f66;
    --background-color: #03121b;
    --text-color: #e5e5e5;
    --meta-color: #417694;
    --primary-color: rgb(235, 235, 235);
    --accent-color: rgb(255, 255, 255);
    --decoration-color: #215574b0;
    --border-color: rgba(255, 255, 255, 0.1);
    --accent-filter: invert(100%);
    --text-filter: invert(85%) sepia(9%) saturate(10%) hue-rotate(17deg) brightness(91%) contrast(87%);
  }
}