:root {
  --sans-serif-font: "Inter", "Sarasa UI TC", "PingFang TC", "Noto Sans TC", sans-serif;
  --serif-font: "STIX Two Text", "Times New Roman", "Noto Serif", "Noto Serif TC", serif;
}

@media all {
  :lang(zh-CN) {
    --sans-serif-font: "Inter", "Sarasa UI SC", "PingFang SC", "Noto Sans SC", sans-serif;
    --serif-font: "STIX Two Text", "Times New Roman", "Noto Serif", "Noto Serif SC", serif;
  }
}