@import "fonts";

/* General */

body {
  font-family: var(--sans-serif-font);
  font-size: 16px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
  /* Show vertical scrollbar */
}

h1,
h2 {
  font-family: var(--serif-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: heavy;
  margin-bottom: 4px;
}



a {
  text-decoration: none;
}

a:hover {
  text-decoration-style: dashed;
  text-decoration-line: underline;
}

article {
  a {
    text-decoration-style: dashed;
    text-decoration-line: underline;
  }

  line-height: 1.6;
}

p {

  rt,
  rp {
    font-size: 0.8rem;
  }
}

header a div,
footer a div {
  display: inline-block;
  vertical-align: -10%;
  padding: 0 4px;

  img {
    height: 1rem;
  }
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  margin: 0.625rem 0;
  padding: 0.25rem 1rem;
  line-height: 1.5;
}

/*
  Site container
*/

.container {
  margin-left: auto;
  margin-right: auto;
  width: 615px;
}

/*48em*/
@media (max-width: 768px) {
  .container {
    width: 90vw;
  }

  body h1,
  body h2 {
    font-size: 1.5em;
  }
}

/*
  Masthead
*/

.masthead {
  padding-top: 0.5rem;
  margin-bottom: 0;

  .masthead-subtitle {
    font-weight: 500;
    font-size: 16px;
  }
}

/*
  Thumbnail
*/

.thumbnail-container {
  margin: 0.5rem 0;
  max-width: 100%;

  div {
    max-width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
  }
}

/*
  Post
*/

.post-container {
  margin-bottom: 4rem;
}

ul.post-list {
  padding-left: 0;
  line-height: 1.3;

  li {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;

    a {
      max-width: 60%;
      overflow: ellipsis;
    }

    time {
      align-self: flex-start;
    }
  }
}

.posts {
  margin-bottom: 2rem;
  padding: 0px;
  list-style: none;
}

.post-date {
  display: block;
  margin-top: 0;
}

/*
  Pagination
*/

.pagination,
.pagination-single {
  overflow: hidden;
  text-align: center;
}

ul.pagination {
  width: 100%;
}

ul.pagination,
.pagination-single span {
  padding: 0;
}

.pagination a,
.pagination-single span a {
  text-decoration: none;
}

.page-item,
.pagination-single span {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  display: inline-block;
}

/*
  Footer
*/

.footer {
  text-align: center;
  margin: 2rem 0;
  line-height: 1.6;

  a {
    padding: 0.625rem;
    text-decoration: none;
  }

  .footer-slogan {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

/*
  Menu
*/

.menu {
  display: flex;
  flex-direction: column;

  .menu-content {
    align-self: flex-start;

    a {
      padding-right: 0.625rem;
    }
  }

  .social-icons {
    align-self: flex-end;
  }
}

/*
  Tables
*/

table {
  border-spacing: 0;
  display: inline-block;
  max-width: 100%;
  overflow-x: auto;
  padding: 0;
  white-space: nowrap;
}

table td,
table th,
table tr {
  padding: 0.4rem 0.8rem;
}

table thead {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.publications {
  object {
    vertical-align: text-bottom;
  }

  ul {
    padding-left: 24px;
  }

  p {
    margin-top: 0;
  }
}