@import "fonts";
@import "colors";

/* General */
html {
  background-color: var(--background-color);
}

body {
  color: var(--text-color);

  ::selection {
    background: var(--decoration-color);
  }
}

a {
  color: var(--text-color);
}

.highlight {
  ::selection {
    background: #215574b0;
  }
}

:not(pre)>code {
  background: var(--border-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}

header h3 a {
  color: var(--primary-color);
}

header .masthead-subtitle {
  color: var(--accent-color);
}

header a div img,
footer a div img {
  filter: var(--text-filter);

  &:focus,
  &:hover {
    filter: var(--accent-filter);
  }
}

article {
  h2 {
    border-bottom: 1px solid var(--border-color);
  }
}

blockquote {
  border-left: 0.25rem solid var(--decoration-color);
  color: var(--text-color);
  background-color: var(--border-color);
}

hr {
  border: 1px solid var(--border-color);
}

.post-container {

  .list-title,
  time {
    color: var(--meta-color);
  }
}

.post-date {
  color: var(--meta-color);

  a {
    color: var(--meta-color);
  }
}

.pagination,
.pagination-single {
  color: var(--text-color);

  .page-item,
  >span {
    border: 1px solid var(--border-color);
  }

  .page-item.active {
    color: var(--accent-color);
    background-color: var(--border-color);
  }
}



/*
  Menu
*/

.menu {
  a {
    color: var(--text-color);
  }
}

/*
  Tables
*/

table {
  border: 1px solid var(--border-color);
}

table thead {
  background-color: var(--border-color);
}

table tr:nth-child(even) {
  background-color: var(--border-color);
}

.hint {
  &.warning {
    border-color: var(--warning-color);
    background-color: rgba(var(--warning-color), 0.1);
  }

  &.danger {
    border-color: var(--danger-color);
    background-color: rgba(var(--warning-color), 0.1);
  }

  &.info {
    border-color: var(--info-color);
    background-color: rgba(var(--warning-color), 0.1);
  }
}