{{ $pages := .pages }}
{{ $site := .site }}

{{ with $site }}

{{ $paginator := .Paginate $pages }}
<h1 class="list-title">{{ .Title }}</h1>
<ul class="post-list">
  {{ range $paginator.Pages }}
  {{ $url := .RelPermalink }}
  <li>
    <a href="{{ $url }}">{{ .Title }}</a>
    <time datetime="{{ .Date }}">
      {{ .Date.Format "Jan 2, 2006" }}
    </time>
  </li>
  {{ end }}
</ul>

<!-- Paginator Section Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<nav>
  {{ $paginator := .Paginate $pages }}
  {{ template "_internal/pagination.html" . }}
</nav>

{{ end }}