<footer class="footer">
  {{- partial "social-icons.html" . -}}
  <div class="footer-slogan">
    <span><a href={{ "/" | relLangURL }}>{{ .Site.Params.footer | default .Site.Title }}</a></span>
    {{ if .Site.Params.search }}
    {{- partial "search.html" . -}}
    {{ end }}
  </div>
</footer>