<header class="masthead">
  <h2 class="masthead-title">
  <a href="{{ .Site.Home.RelPermalink }}">{{ .Site.Title }}</a>
  <small class="masthead-subtitle">{{ .Site.Params.description }}</small></h2>
  {{- partial "menu.html" . -}}
</header>