<div class="menu">
  <nav class="menu-content">
    <span>
      {{ if .Site.Params.menuInjectSections }}
      {{ range .Site.Sections }}
      <a href="{{ .Permalink | relURL }}">{{ i18n .Name | default .Name | humanize }}</a>
      {{ end }}
      {{ end }}
      {{ range .Site.Menus.main }}
      <a href="{{ (.URL | absLangURL) }}">{{ i18n .Name | default .Name | humanize }}</a>
      {{ end }}
    </span>

    <span>
      {{ range .Page.Translations }}
      <a href="{{ .Permalink | relURL }}">{{ .Site.Language.LanguageName }} </a>
      {{ end }}
      {{ if .Site.Params.showsRSS }}
      <a href={{ "/index.xml" | relLangURL }} type="application/rss+xml" target="_blank">RSS</a>
      {{ end }}
    </span>
  </nav>
</div>