{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<br>
<hr>
<h2 class="list-title">{{ T "seealso" }}</h3>
  <ul class="post-list">
  {{ range . }}
  <li>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    <time datetime="{{ .Date }}">
      {{ .Date.Format "Jan 2, 2006" }}
    </time>
  </li>
  {{ end }}
</ul>
{{ end }}