{{ $site := .Site }}
{{ with .Site.Params.social }}
{{ range . }}
<a href="{{ .url }}" {{ with .rel }} rel="{{ . }}" {{ end }}>
  {{ $svg := printf "icon/%s.svg" .platform }}
  <div>
    <img height="16px" src="{{ $svg | relURL }}" alt="{{ .platform }}"/>
  </div>
</a>
{{ end }}
{{ if $site.Params.showsRSS }}
<a href={{ "/index.xml" | relLangURL }} type="application/rss+xml" target="_blank">RSS</a>
{{ end }}
{{ end }}