{{ $refs := index .Site.Data (.Get 0) }}

<ul class="publications">
    {{ range sort $refs "date" "desc" }}
    <li><p>
        {{ .title }}<br>
        {{ .author | markdownify }},<br>
        <i>{{ .source }}</i>, {{ time.Format "Jan 2006" .date }}.<br>
        {{ range .badges }} {{ partial "badge" . }} {{ end }}</p>
    </li>
    {{ end }}
</ul>